body {
    font-family: Arial, sans-serif;
    background-color: #080808;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}



form {
    color: #fff;
    background-color: #181A1C;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

::placeholder {
    color: #ffffff;
    /* Измените этот цвет на желаемый */
}

select,
input[type="text"],
input[type="number"],
input[type="date"] {
    text-align: center;
    font-size: 20px;
    border: none;
    height: 30px;
    color: #fff;
    border-radius: 25px;
    background-color: #00B67B;
}

button {
    background-color: #00B67B;
    color: #ffffff;
    border-radius: 25px;
    height: 30px;
    border: none;
    font-weight: 600;
}

.Minus {
    width: 50px;
    font-size: 20px;
    margin-right: 0px;
    background-color: rgb(99, 0, 0);
    color: white;
}


label,
select,
input[type="text"],
input[type="number"],
input[type="date"] {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Медиа-запрос для оптимизации для мобильных устройств */
@media screen and (max-width: 700px) {
    form {
        max-width: 90%;
    }
}

.location-card {
    display: flex;
    /* или grid для управления макетом элементов */
    align-items: center;
    /* выравнивание по вертикали, если используется flex */
    justify-content: space-between;
    /* выравнивание по горизонтали с расстоянием между элементами */
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    margin-top: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.vehicle-types-container {
    display: block;
    column-count: 2;
    column-gap: 20px;
}

.vehicle-types-container label {
    margin-right: 15px;
}

.logo {
    max-width: 400px;
    margin-bottom: 20px;
}



/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00B67B;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 0px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #00B67B;
}

input:focus+.slider {
    box-shadow: 0 0 1px #00B67B;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
